## Tests and actions
/.github export-ignore

## Git config files
/.gitattributes export-ignore
/.gitignore export-ignore

## Dev tools
*.xml export-ignore
*.xml.dist export-ignore
composer.* export-ignore
