name: Unit Testing

on:
  push:
    # branches:
    #   - main
    # Only run if PHP-related files changed.
    paths:
      - '.github/workflows/php-test.yml'
      - '**.php'
      - 'phpunit.xml.dist'
      - 'tests/multisite.xml'
      - 'composer.json'
      - 'composer.lock'
  pull_request:
    branches:
      - main
    # Only run if PHP-related files changed.
    paths:
      - '.github/workflows/php-test.yml'
      - '**.php'
      - 'phpunit.xml.dist'
      - 'tests/multisite.xml'
      - 'composer.json'
      - 'composer.lock'
    types:
      - opened
      - reopened
      - synchronize

jobs:
  php-test:
    name: PHP
    runs-on: ubuntu-latest
    timeout-minutes: 20
    steps:
      - name: Run PHP tests in single site
        run: docker run --rm -v "$PWD:/code" humanmade/plugin-tester --stop-on-error
